* {
  padding: 0px;
  margin: 0px;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  position: relative;
}

body {
  max-width: 100svw;
  height: 100svh;
  max-height: 100svh;
}

header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1e3ff;
}

h1 {
  color: #007bff;
  font-size: 1.5rem;
}

.nav-list {
  font-size: 24px;
  color: #007bff;
  display: none;
}

nav ul {
  display: flex;
  gap: 10px;
}

nav ul li a {
  color: black;
}

nav ul li a:hover {
  color: #007bff;
}

.home-link {
  color: #007bff;
}

.hero {
  padding-top: 2%;
  background-color: #d1e3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.info {
  width: 40%;
}

.info h2 {
  color: #007bff;
  font-size: 2.1rem;
  width: 40%;
  margin-bottom: 20px;
}

.info p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #4f4f4f;
}

.info button {
  background-color: #ff8a1d;
  border: 1px solid #ff8a1d;
  color: white;
  font-weight: bold;
  padding: 12px 40px;
  border-radius: 2px;
}

.info button:hover {
  background-color: transparent;
  color: #ff8a1d;
}

.hero img {
  height: 90%;
  padding: 10px;
}

.offers {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  padding: 20px;
  top: -20%;
}

.offer {
  height: 200px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: white;
  box-shadow: 0px 0px 7px gray;
  transition: 0.5s;
}
.offer:nth-child(2) {
  background-color: #ff8a1d;
  color: white;
}

.offer:hover,
.service:hover {
  background-color: #ff8a1d;
  color: white;
}

.offer i {
  font-size: 24px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  width: 80%;
  margin: 0 auto 10px;
  top: -150px;
}

.about img {
  width: 50%;
}

.about div h2 {
  margin-bottom: 20px;
  font-size: 1.9rem;
}

.about div p {
  margin-bottom: 20px;
  color: #4f4f4f;
}

.about div button,
.send-btn {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 3px;
}

.more-about {
  background-color: #d1e3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100svh;
}

.more-about img {
  width: 47%;
  height: 85%;
}

.more-about .right h2 {
  width: auto;
  font-size: 2rem;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 40px 10px;
  min-height: 80svh;
}

.services button {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: white;
  font-weight: bold;
  padding: 12px 40px;
  border-radius: 2px;
}

.services button:hover,
.send-btn:hover {
  background-color: transparent;
  color: #007bff;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.service {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  box-shadow: 0px 0px 7px rgb(150, 150, 150);
  padding: 40px 15px;
  max-width: 350px;
  transition: background-color 0.5s, transform 0.5s;
}

.service i {
  font-size: 40px;
}

.service p {
  text-align: center;
  color: #3d3d3d;
}

.service:hover p {
  color: white;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 80svh;
  padding: 10px 10px 40px 10px;
}

.contact h2 {
  padding-left: 25px;
}

.contact-info {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contact-info form {
  width: 40%;
}

.contact-info form input {
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  display: block;
  box-shadow: 0px 0px 7px #ccc;
  text-transform: capitalize;
}

.feedback {
  height: 100px;
}

.send-btn {
  width: 100px;
  border-radius: 0px;
}

iframe {
  width: 50%;
  height: 400px;
  box-shadow: 0px 0px 10px #ccc;
}

footer {
  background-color: #0a0f43;
  color: white;
  padding: 20px;
  text-align: center;
}

@media (max-width: 1240px) {
  .offers {
    top: 0px;
  }
  .about {
    top: 0px;
  }
}

.show {
  display: flex;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    border-left: 1px solid #007bff;
    position: absolute;
    gap: 10px;
    right: 10px;
    top: 10px;
    z-index: 1000;
    padding: 10px 30px;
    width: 150px;
    display: none;
    transition: display 0.5s;
    border-radius: 10px 0px 10px 10px;
  }
  .nav-list {
    display: block;
  }
  .hero img {
    height: 30%;
    width: 90%;
  }
  .info {
    padding-top: 10px;
    width: 70%;
  }
  .offers {
    flex-direction: column;
  }
  .offer {
    width: 80%;
  }
  .about {
    flex-direction: column;
    width: 100%;
  }
  .about div {
    width: 80%;
  }
  .about img {
    width: 80%;
  }
  .more-about {
    height: 90svh;
  }
  .more-about img {
    display: none;
  }
  .contact-info {
    align-items: center;
    flex-direction: column;
  }
  .contact-info form,
  iframe {
    width: 90%;
  }
}
